
#cart-popup{
    width: 18%;;
    height: 330px;
    /* border: 1px solid green; */
    visibility: hidden;
    position: absolute;
    right:85px;
    display: flex;
    flex-direction: column;
     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
     background-color: white;
    
   }
   
   #product
   {
       width: 90%;;
       height: 25%;
       /* border: 4px solid red; */
       margin: auto;
       display: flex;
       gap: 5px;
   }
   #pic
   {
       width: 28%;
       /* border: 1px solid; */
       height: 90%;
       box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   }
   
   #price
   {
       width: 70%;
       /* border: 1px solid; */
       height: 90%;
       margin: auto;
       display:grid;
       
      
       
   }
   
   #price div{
   width: 90%;
   height: 95%;
   /* border: 1px solid; */
   margin: auto;
   }
   
   #image
   {
      height: 70px;
      width: 60px;
      margin: auto;
   }
   #total
   {width: 90%;;
       height: 25%;
       /* border: 4px solid red; */
       margin: auto;
       box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
       
   }
   
   #total > div{
       width: 90%;
       height: 50%;
       /* border: 1px solid red; */
       margin: auto;
       display: flex;
       justify-content: space-between;
   }
   #total>:last-child{
    display: flex;
    gap: 10%;
   }
   #btn-1
   {
     border-radius: 20px;
     width: 96%;
     height: 70%;
     margin: auto;
     background-color:#dd0285;
     color: white;
     border: 0px;
   }
   #btn-2
   {
     border-radius: 20px;
     width: 96%;
     height: 70%;
     margin: auto;
     background-color:#dd0285;
     color: white;
     border: 0px;
   }
   #pric{
   color: #dd0285;
   }
   #Subtotal{
       font-weight: bold;
   }
   
   #box
   {
    width: 40px;
    height: 40px;  
    outline: none; 
   }
   
   #price>div:hover{
       color: #dd0285;
   }