#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 72%;
    height: auto;
}

#container>div {
    border: 1px solid red;
    text-align: center;
    padding: 10px 10px;
    /* border: 1px solid black; */
    font-family: Roboto;

}

#container img{
    width: 50%;
    min-width:50%;
    min-height: 200px;
}
#container>div>img+p {
    font-family: Roboto;
}

#main {
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
}

#sidebar {
    width: 28%;
    height: 500px;
    border: 1px solid;
}

button {
    background-color: #dd0285;
    border: 0px;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}
#filter ul {
    list-style: none;
}

#filter ul li a {
    text-decoration: none;
    color: gray;
}

#brand,
#price,
#skintype {
    display: none;
}

#filter ul li:hover {
    background-color: rgb(85, 115, 141);
}

#filter ul li:hover #brand {
    display: block;
    position: absolute;
}

#select {
    margin-left: 33%;
    margin-top: 20px;
    padding: 5px 10px;
}

/* #filter {
    position: relative;
    display: inline-block;
}

#brandsort {
    display: none;
    position: absolute;
    overflow: auto;
    border: 1px solid gray;
    z-index: 1;
}

#brandsort>a {
    color: gray;
    padding: 5px 20px 5px 5px;
    text-decoration: none;
}

#brandsort>a:hover {
    background-color: aliceblue;
} */

