 #main
{
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: space-between;
  
}
#items{
    width: 50%;
    height: 180px;
   
   justify-content: flex-start;
   margin-top: 20px;
   margin-left: 20px;
   
} 

#line-1
{
    border: 1px solid red;
    display: flex;
   justify-content: space-between;
   font-weight: 600;
   color: rgb(96, 93, 93);
   font-family: 'Roboto', sans-serif ;
   font-size: 13px;
}


#bebo
{
    width: 15%;
    border: 1px solid;
   
   
}
#bebo:hover{
   color:  #dd0285;
   cursor: pointer;
}
#beauty
{
    width: 90%;
}
#btn
{
  /* border: 1px solid; */
  display: flex;
  gap: 20px;
  height: 28px;
}

button{
    background-color: white;
    border: none;
    padding: 5px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

button:hover{
background-color:#dd0285 ;
color: white;
cursor: pointer;
}

#dabba
{
   
 width: 30px;
 height: 30px;  
 outline: none; 
} 
#last
{width: 35%;
 /* border: 1px solid;   */
 display: flex; 
 gap: 20px;
 margin-left: 20px;
 padding-left: 20px;
font-weight: bold;
color: rgb(97, 93, 93);
}
#bottom >div
{
    /* border: 1px solid; */
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.key
{
    background-color:#dd0285 ;
    color: white;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;
    padding: 10px;
}

.key:hover{
    background-color: rgb(63, 60, 60);
    cursor: pointer;

}
#name:hover{
    color: #dd0285;
  cursor: pointer;
 }

 #summary
{
width: 27%;
height: 460px;

display: grid;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
margin: auto;
}
#switch
{
    background-color: #dd0285;
    color: white;
    margin: 20px;
    font-weight: bold;
    height: 35px;
   
}
hr{
   
    background-color: gray;
    color: gray;
}
#switch:hover{
    background-color: rgb(63, 60, 60); 
}
select
{
  width: 100%; 
  height: 30px; 
}
.shopImg> img{
    
    height: 100%;
    width: 100%;
  
    border: 1px solid; 
}

#Shopdiv{
    display: flex;
    margin-top: 20px;
    border: 1px solid;
    
   
} 

.td1
{
    display: flex;
}

#scroll
{
    
    width: 100%;;
    /* height: 450px; */
    
    margin: auto;
    
    overflow-y:scroll ;
    margin: 5px;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }

 
 #scroll::-webkit-scrollbar{
    width: 0;
    height: 0;
 }

thead{
    top: 0px;
    position: sticky;
    z-index: 10;
    background-color: white;
}

.dabba
{
   
    width: 30px;
    height: 30px;  
    outline: none;  
}

.shop_img
{
   
    height: 70px;
    width: 120px;
    margin: auto; 
    
}


.shop_img > img
{
   
    height: 100%;
    width: 100%;
    margin: auto; 
    
}

h1{
    /* border: 1px solid; */
    padding: 10px;
    font-size: 20px;
    color: rgb(108, 104, 104);
}
h2{
    /* border: 1px solid; */
    padding: 13px;
    font-size: 20px;
    color: rgb(108, 104, 104);
}