*{
    box-sizing: border-box;
}


#main{
    width: 40%;
    margin: auto;
    display: grid;
    margin-bottom: 30px;
    /* margin-top: 50px; */
    
}
#main > h2{
    font-weight: 500;
    font-size: 18.2px;
    margin-top: 5px;
    margin-bottom: 30px;
}

#box2{
    border: 1px solid #dddddd;
    padding: 30px;
    font-size: 15px;

    background-color: rgb(250,250,250);
}
.width{
    width: 100%;
}
#box2 > input{
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#but{
    background-color: rgb(68,68,68);
    color: white;
    padding: 8px;
    border: none;
}
#check{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.logo > img{
    width:20%;
    border-right: 1px solid black;
    
    margin-left: -10px;
    object-fit: contain;
    height: 100%;
    
}
#main > h2,p{
    text-align: center;
    margin: 40px 0px;
}

.logo{
    width: 230px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    border: none;
    border-radius: 4px;
    justify-content: flex-start;
}
.logo > p{
    padding-left: 10px;
}
#logoDiv{
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
    gap: 30px;
}
.google{
    background-color: #dd4b39;
    /* border: 1px #c23321; */
    


}
.google:hover{
    background-color: #c23321;

}
#box3{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}
#box3 > div{
    width: 50%;
}
#box3 > div > input{
    width: 100%;
    height: 35px;

}
.google > img{
    /* background-color: white; */
    border: 1px solid #c23321;

}
.facebook{
    background-color: rgb(56,86,159);
}
.facebook:hover{
    background-color: #2d4373;
}
.head{
    /* text-align: center; */
    border-bottom: 1px solid;
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}
.space{
    /* margin-left: 35%; */
    /* border: 1px solid; */
    width: 48%;
}
.shift{
    margin-left: 32%;
}
.shift2{
    margin-left: 2px;
}

.shiftup{
    margin-top: 110px;
    border: 1px solid;
}
.span{
    color: #c23321;
}
#passwordStrength{
    margin-top: -12px;
    margin-bottom: 20px;
}
#but:hover{
    background-color: #dd0285;
}